/.gradle/
/.gradle-docker/
/.android/
/.home/
/.idea/*.xml
/.idea/caches/
/.idea/dictionaries/
/.idea/libraries/
/captures/
/local.properties
.DS_Store
.cxx/
Thumbs.db
build/
*.apk
*.class
*.dex
*.iml
*.jks
signing.properties
gradlew.bat
maint/
